# Visual Studio
.vs
*.db
*.recipe
*.log
*.tlog
*.filter
*.suo
*.sln
*.vcxproj
*.user

# Project folders
[Bb]inaries
[Bb]in
[Dd]ebug
[Dd]ocs
[Ii]nt
[Ii]ntermediate

Sandbox/Sandbox.vcxproj.filters
Framework/Framework.vcxproj.filters
